.profile-pic {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.image-container {
  margin-bottom: 20px;
  height: min-content;
  margin-top: 50px
}

.product-poster {

  height: 600px;
  width: 100%;
  /* zoom  in */
  object-fit: cover;
}

.product-name {
  font-size: 24px;
  margin: 0;
}

.product-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-container {
  background-color: orange;
  width: 340px;
}

/* 
.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
} */

.product-list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: space-around;
}

.add-product-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin: 100px auto;
  max-width: 350px;

}

.product-detail-container {
  max-width: 750px;
  padding: 16px 0px;
}

.basic-form {
  width: 30%;

  display: flex;
  flex-direction: column;
  gap: 10px;

}